@model FruttiDiFruVa.Models.Articles

@{
    ViewData["Title"] = "ArticleList";
}

<h1>ArticleList</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleItems.First().Checked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleItems.First().ArticleName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ArticleItems.First().Amount)
        </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ArticleItems)
        {
            var parms = new Dictionary<string, string>
            {
                { "Id", item.Id.ToString() }
            };

            <tr>
                <td>
                    <input type="checkbox" value="@item.Checked" />
                </td>
                <td>
                    <a asp-controller="Articles" asp- asp-action="Details" asp-all-route-data="parms">@item.ArticleName</a>
                </td>
                <td>
                    <input type="number" />
                </td>
            </tr>
        }
    </tbody>    
</table>
