@model List<FruttiDiFruVa.Models.Order>

@{
    ViewData["Title"] = "OrdersList";
}

<h1>OrdersList</h1>

<p>    
    <a asp-controller="Shop" asp-action="Index">Shop</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Delivery Date
            </th>
            <th>
                Articles
            </th>
            <th>
                Recipient
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.DeliveryDate.ToShortDateString()
                </td>
                <td>
                    <ul>
                        @foreach (var item in order.Articles)
                        {
                            <li>
                                @item.ArticleName (Amount: @item.Amount)
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    @order.RecipientName
                </td>
                <td>
                    <a asp-controller="order" asp-action="Edit" asp-route-id="@order.Id">Edit</a>
                    <a asp-controller="order" asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
